@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Arimo:ital,wght@0,400..700;1,400..700&family=League+Spartan:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #09112d;
    --secondary: #154161;
    --button: #168916;
    --body: #cecece;
    --text: #ffffff;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

a {
    text-decoration: none;
}

.navbar {
    background-color: var(--primary);
}

.logo {
    width: 326px;
}

.nav-link {
    color: var(--text) !important;
    font-family: "Archivo Narrow" !important;
    font-weight: bold !important;
}

.btn {
    padding: 14px 18px !important;
    border-width: 0px !important;
    border-radius: 20px !important;
}

.contact-button {
    background-color: var(--button) !important;
    font-family: "Montserrat" !important;
    font-weight: bold !important;
}

.hero {
    background-image: url(../assets/images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
}

.hero-text {
    font-family: "Montserrat" !important;
    font-weight: normal;
}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../assets/images/hero.png);
    z-index: -1;
}


.hero-2 {
    background-image: url(../assets/images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.hero-text-2 {
    text-transform: uppercase;
    font-family: "League Spartan" !important;
    font-weight: bold;
    padding: 50px;
}

.reason {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    border: white solid;
    border-radius: 13%;
    transition: all 0.35s ease;
}

.reason:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.hero-3 {
    background-image: url(../assets/images/about_us.png);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
}

.hero-text-3 {
    text-transform: uppercase;
    font-family: "League Spartan" !important;
    font-weight: bold !important;
    padding: 50px;
}

.hero-4 {
    background-image: url(../assets/images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
}

.hero-text-4 {
    font-family: "League Spartan" !important;
    font-weight: bold !important;
    padding: 50px;
}

.brazil-map {
    background-image: url(../assets/images/logo.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.project {
    position: relative;
    overflow: hidden;
}

.project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 20, 51, 0.8);
    padding: 30px;
    display: flex;
    align-items: flex-end;
    transition: all 0.4s ease;
    opacity: 0;
}

.project img {
    transition: all 0.4s ease;   
}

.project:hover .overlay{
    opacity: 1;
}

.project:hover img {
    transform: scale(1.1);
}


.pricing i {
    font-size: 20px;
    color: var(--primary);
}

.pricing ul li {
    margin-top: 8px;
}

.team-member img {
    width: 125px;
    height: 125px;
    border-radius: 100px;
}


.social-icons {
    display: flex;
    justify-content: center;
}
.social-icons a {
    width: 34px;
    height: 34px;
    background-color: var(--primary);
    border-radius: 2px solid var(--primary);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 5px;
    transition: all 0.4s ease;
    border: 2px solid var(--primary);
}

.social-icons a:hover {
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primarys);
}


form input.form-control {
    height: 56px;
}

form .form-control {
    border: transparent;
    border-radius: 0;
    background-color: rgba(0,0,0,0.02);
}


.footer-top {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: var(--dark);
}

.footer-top a {
    color: var(--body);
}

.footer-top a:hover {
    color: var(--white);
}

.footer-bottom {
    background-color: #242933;
}