:root {
    --primary: #09112d;
    --secondary: #154161;
    --button: #168916;
    --body: #cecece;
    --text: #ffffff;
}

body {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: var(--primary);
}

.nav-link {
    color: var(--text) !important;
    margin: 20px;
}

.logo {
    width: 300px;
}

.contact-button {
    background-color: var(--button) !important;
}

.hero {
    background-image: url(../assets/images/image1.svg);
    background-position: center;
    background-size: cover;
}

.why-choose-us {
    background-image: url(../assets/images/image4.svg);
    background-position: center;
    background-size: cover;
}


.who-we-are {
    background-image: url(../assets/images/about_us.png);
    background-position: center;
    background-size: cover;
}


.area-of-business {
    background-image: url(../assets/images/image4.svg);
    background-position: center;
    background-size: cover;
}

@media(max-width: 768px) { 
    .small { 
      display: none; 
    }
  }

.our-services {
    background-color: var(--secondary)
}

@media(max-width: 576px) { 
    .extra-small { 
      display: none; 
    }
  }

.contact-us {
    background-image: url(../assets/images/image2.svg);
    background-position: center;
    background-size: cover;
}