* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-family: sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    flex-wrap: wrap;
}

.logo {
    height: 4.5rem;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: ;
}

.partners {
    text-align: center;
}

.hero-images-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
}
